.rlac-root {
  position: relative;
  display: inline-block;
  //background: #f1f1f1;
  padding: 15px;

  .rlac-recommend {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .15);
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    padding: 5px 0;
    border-radius: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    li {
      border-bottom: 1px solid #f8f8f8;
      padding: 10px 15px;
      cursor: pointer;
      line-height: 1.5;
      font-size: 14px;
      word-break: break-all;

      &:last-child {
        border-bottom: 0;
      }

      &:hover {
        background: #f1f1f1;
        transition: .15s ease;
      }
    }
  }
}
